body{
    background-color: #222222;
    color: #ffffff;
}

#rockBtn{
    padding: 8px 15px;
    background-color: rgb(11, 141, 11);
    color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
}

#rockBtn:hover{
    background-color: rgb(0, 82, 0);
}

#paperBtn{
    padding: 8px 15px;
    background-color: rgb(11, 141, 11);
    color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
}

#paperBtn:hover{
    background-color: rgb(0, 82, 0);
}

#scissorsBtn{
    padding: 8px 15px;
    background-color: rgb(11, 141, 11);
    color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
}

#scissorsBtn:hover{
    background-color: rgb(0, 82, 0);
}

#resetBtn{
    padding: 8px 15px;
    background-color: rgb(141, 39, 11);
    color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
}

#resetBtn:hover{
    background-color: rgb(113, 25, 0);
}