body{
    background-color: #222222;
    color: #ffffff;
}

.choice_button{
    padding: 8px 15px;
    background-color: rgb(11, 141, 11);
    color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
}

.choice_button:hover{
    background-color: rgb(0, 82, 0);
}